
body {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: lightblue;
}

.authenticated {
  background-color: lightgreen;
}

nav h1 {
  margin: 0;
  padding-left: 10px;
}

main {
  text-align: center;
}

.flex-spacer {
  flex: 1 1 auto;
}

.app-button {
  margin: 2px;
}

.login-button {
  margin: 2px;
}
.error-message {
  background-color: red;
  color: white;
}